
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  
</head>
<body>
<div class="container px-lg-5">
  <div class="row mx-lg-n5">
    <div class="col py-3 px-lg-5 border bg-light">
      <div class="d-flex justify-content-center">
	<div class="card" style="width: 18rem;">
  <img src="{{meme['url']}}" class="card-img-top" alt="meme">
  <div class="card-body">
    <p class="card-text">{{meme['title']}}</p>
  </div>
</div>
<br>

</div>
<div class="d-flex justify-content-center">

<div class=".justify-content-end">
  <br>
  
  
  <button class="btn btn-primary" type="submit" (click)="onclick()">Next Meme</button>
</div>
</div>
	</div>
 
  </div>
  
</div>
</body>
</html>